<header>
  <figure class="logo">
    <%= image_tag 'logo.png', id: 'logo' %>
  </figure>

  <nav>
    <ul>
      <li><%= link_to 'Contact Us', '#' %></li>
    </ul>
  </nav>
</header>

<section class="hero">
  <section class="hero__text">
    <h1>
      <span class="alt-text">Buy your home.</span><br/>
      Save money by uniting your home purchase and loan together.
    </h1>
    <p>
      Get 75% of the buying side commission.
      Use only the services you need.
      We give you a perfectly fitted loan, tailored just for you,
      while keeping everything transparent with technology.
    </p>
  </section>

  <form class="form">
    <input name="email" placeholder="Email"></input>
    <button type="submit">Get Started</button>
  </form>
</section>

<hr />

<section class="features">
  <ul>
    <li>
      <h3>
        We give you a neutral agent who will help you through the buying process 
        and plan your loan.
      </h3>
    </li>
    <li>
      <h3>
        You control your commission and pay only for the services you need.
      </h3>
    </li>
    <li>
      <h3>
        We use our people and technology to keep transactions transparent 
        and smooth for all parties behind the scenes.
      </h3>
    </li>
  </ul>
</section>

<hr />

<section class="steps">
  <ol>
    <li>
      <p class="step__number">1</p>
      <h4>Get Pre-approved</h4>
    </li>
    <li>
      <p class="step__number">2</p>
      <h4>Find your dream house</h4>
    </li>
    <li>
      <p class="step__number">3</p>
      <h4>Tell us what house you want to offer</h4>
    </li>
    <li>
      <p class="step__number">4</p>
      <h4>Get in escrow</h4>
    </li>
    <li>
      <p class="step__number">5</p>
      <h4>Close your house</h4>
    </li>
  </ol>
</section>

<section class="call-to-action">
  <form class="form">
    <input name="email" placeholder="Email"></input>
    <button type="submit">Get Started</button>
  </form>
</section>

<footer>
  <nav>
    <ul>
      <li><%= link_to 'Terms and Conditions', '#' %></li>
      <li><%= link_to 'Facebook', '#' %></li>
      <li><%= link_to 'Instagram', '#' %></li>
      <li><%= link_to 'Contact Us', '#' %></li>
    </ul>
  </nav>
</footer>
