<header>
  <figure class="logo">
    <%= image_tag 'logo.png', id: 'logo' %>
  </figure>

  <nav>
    <ul>
      <li><%= link_to 'Contact Us', '#' %></li>
    </ul>
  </nav>
</header>

<section class="hero">
  <section class="hero__text">
    <h1>
      <span class="alt-text">Buy your home.</span><br/>
      Save your money.
    </h1>
    <p>
    We help you save big by uniting your loan and home purchase
    and pairing one of our neutral agents.
    </p>
  </section>

  <section class="learn-more">
    <p>How does it all work?</p>
    <%= link_to 'Learn more', '#how-it-works' %>
  </section>

  <section class="get-in-touch">
    <p>Lets get started!</p>
    <%= link_to 'Get In Touch', '#' %>
  </section>
</section>

<section class="savings-slider" id="savings-slider">
  <section class="savings-copy">
    <h2>Breaking down the numbers</h2>

    <legend>Price of your home</legend>

    <h3 id="priceValue">$500,000</h3>

    <div class="slider-container">
      <input
         type="range"
         min="500000"
         max="20000000"
         value="750000"
         class="slider"
         id="priceRange"
      />
    </div>

    <legend>50% comission rebate to you</legend>

    <h3 class="green" id="savings">$7,500</h3>
  </section>
</section>


<section class="features" id="how-it-works">
  <ul>
    <li id="first">
      <p>
        We give you a neutral agent who are certified experts in the loan and 
        buying process.
      </p>
    </li>
    <li id="second">
      <p>
        You control your money and pay only for the services you need.
      </p>
    </li>
    <li id="third">
      <p>
      We give you back up to <strong>2%</strong> of the cost of your home in savings.
      </p>
    </li>
  </ul>
</section>

<section class="benefits">
  <section class="benefits-header">
    <h2>What does the process look like?</h2>
    <p>
    Neutral agents are there to help you navigate the pains
    of planning a home purchase. 
    From the loan to the legal contracts our neutral
    agents take care of everything so you can feel at ease going through 
    the process.
    </p>
  </section>
  <article class="benefit">
    <small>1</small>
    <section class="copy">
      <h4>Get Pre-approved</h4>
      <p>
      An easy process that starts by setting your price range that 
      your assigned expert will help you through
      </p>
    </section>
  </article>
  <article class="benefit">
    <small>2</small>
    <section class="copy">
      <h4>Find your dream house</h4>
      <p>
      The more you do on your own, the more money you save.
      We provide you with any services you need,
      while saving you money on the ones you don't
      </p>
    </section>
  </article>
  <article class="benefit">
    <small>3</small>
    <section class="copy">
      <h4>Tell us what house you want to offer</h4>
      <p>
      Because we help you plan your finances first, you know exactly what your
      price range is. We help you save as much as we can closing your big deal.
      </p>
    </section>
  </article>
  <article class="benefit">
    <small>4</small>
    <section class="copy">
      <h4>Our experts close your house and save you money</h4>
      <p>
      We are there to help you through the hard parts: negotiation,
      paperwork, and financial transactions are all handled by our team with ease.

      At the end, we give you back up to 2% of the cost of the house.
      </p>
    </section>
  </article>

  <section class="get-in-touch">
    <p>Lets get started!</p>
    <%= link_to 'Get In Touch', '#' %>
  </section>

</section>

<footer>
  <nav>
    <ul>
      <li><%= link_to 'Terms and Conditions', '#' %></li>
      <li><%= link_to 'Facebook', '#' %></li>
      <li><%= link_to 'Instagram', '#' %></li>
      <li><%= link_to 'Contact Us', '#' %></li>
    </ul>
  </nav>
</footer>
