<header>
  <figure class="logo">
    <%= image_tag 'logo.png', id: 'logo' %>
  </figure>

  <nav>
    <ul>
      <li><%= link_to 'Contact Us', '#' %></li>
    </ul>
  </nav>
</header>

<section class="hero">
  <section class="hero__text">
    <h1>
      <span class="alt-text">Buy your home.</span><br/>
      Save your money.
    </h1>
    <p>
    By uniting your home purchase and loan in our single service, we can save you big. <%= link_to 'How big?', '#savings-slider' %>
    </p>
  </section>

  <section class="learn-more">
    <p>How does it all work?</p>
    <%= link_to 'Learn more', '#how-it-works' %>
  </section>

  <section class="get-in-touch">
    <p>Lets get started!</p>
    <%= link_to 'Get In Touch', '#' %>
  </section>
</section>

<section class="neutrality">
  <h2>Why Neutral?</h2>
  <p>
  Most Agents you meet just want you to buy anyhome. To them, there is no such 
  thing as a bad house. <strong>The incentive structure is all wrong.</strong>
  </p>

  <p>
  We believe in putting our skin in the game.
  You are the expert in finding the right home, 
  we are the expert in making sure you get the right deal for 
  your financial situation.
  </p>

  <p>
  Since we are the lender putting up a loan for your property we need to 
  make sure your purchase is right for your unique financial circumstances. 
  </p>
</section>

<section class="savings-slider" id="savings-slider">
  <section class="savings-copy">
    <h2>Breaking down the numbers</h2>

    <legend>Price of your home:</legend>

    <h3 id="priceValue">$500,000</h3>

    <div class="slider-container">
      <input
         type="range"
         min="500000"
         max="4000000"
         value="750000"
         class="slider"
         id="priceRange"
      />
    </div>

    <legend>Your savings:</legend>

    <h3 class="savings-total" id="savings">$7,500</h3>
  </section>
</section>


<section class="features" id="how-it-works">
  <ul>
    <li id="first">
      <p>
      You work with a neutral agent who is a licensed and certified in loans 
      and real estate.
      </p>
    </li>
    <li id="second">
      <p>
      We back you with the right financial data on every house that interests you.
      </p>
    </li>
    <li id="third">
      <p>
      When you buy your home you get back up to <strong>2%</strong> of the 
      cost of your home in savings.
      </p>
    </li>
  </ul>
</section>

<section class="benefits">
  <section class="benefits-header">
    <h2>What does the process look like?</h2>

  </section>
    <%= partial(
      'benefit', 
      locals: {
        position: 1, 
        header: 'Plan your finances',
        copy: 'An easy process that starts by setting your price range. ' \
              'It both helps you stand out from competition and make better decisions. ' \
              'Your assigned agent is here to help you through.'
      }
    ) %>

    <%= partial(
      'benefit', 
      locals: {
        position: 2, 
        header: 'Find your dream house',
        copy: 'Search online and visit open houses. ' \
        "Any house you can't get into, we will pair you with an on field showing agent. " \
        "If you don't use any services we save you the money when you close."
      }
    ) %>

    <%= partial(
      'benefit', 
      locals: {
        position: 3, 
        header: 'Tell us what house you are thinking of buying',
        copy: 'Your neutral agent is primed with financing, appraisal, and real ' \
        'estate knowledge to make sure you have the most competitive offer. ' \
        'We help you save as much as we can when closing your deal.'
      }
    ) %>

    <%= partial(
      'benefit', 
      locals: {
        position: 4, 
        header: 'Our experts close your house and save you money',
        copy: 'We are here to save you from all the frustrating paperwork. ' \
              'When the house finally closes, we ' \
              'give you back up to 2% of the cost of the house that can go towards ' \
              'reducing your purchase price or other home finances.'
      }
    ) %>

</section>

<section class="get-in-touch call-to-action">
  <p>Lets get started!</p>
  <%= link_to 'Get In Touch', '#' %>
</section>


<footer>
  <nav>
    <ul>
      <li><%= link_to 'Terms and Conditions', '#' %></li>
      <li><%= link_to 'Facebook', '#' %></li>
      <li><%= link_to 'Instagram', '#' %></li>
      <li><%= link_to 'Contact Us', '#' %></li>
    </ul>
  </nav>
</footer>
